*, *::before, *::after {
  box-sizing: border-box;
}


:root {
  --hsl: 228, 50%, 50%;
  --eye-tiger: 189,100%,85%;
  --eye-tiger2: 195,55%,33%;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Arima', cursive;
}



button {
  background-color: hsl(var(--hsl));
  color: white;
  border-radius: 35px;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  font-family: 'Arima', cursive;
  font-size: 30px;
  border: white 0.2em inset;
}





h2 {
font-size: 22px;
}


#presentation {
  background: url("images/tiger.jpg") no-repeat center; 
  background-size: 100% cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#presentation h1{
  color: white;
}


#launch {
  width: 450px;
  padding: 15px;
  border-radius: 35px;
  font-size: 32px;
  font-weight: 500;
  background-color: hsl(var(--eye-tiger));
  color: hsl(var(--eye-tiger2));
  border: 5px solid hsl(var(--eye-tiger2));
  transform: skewX(-0deg) scale(1)
}

#launch:hover {
  animation: roar 0.4s ease-out;
}


@keyframes roar {
  0% {
    transform: skewX(-10deg);
  }

  25% {
      transform: skewX(10deg);
  }

  50% {
      transform: skewX(-10deg);
  }

  75% {
      transform: skewX(10deg);
  }

  100% {
      transform: skewX(-10deg);
  }
}





#Q1 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/alone.jpg")no-repeat center;
}


#Q2 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/elegance.jpg")no-repeat center;
}


#Q3 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/colere.jpg")no-repeat center;
}


#Q4 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/helping.jpg")no-repeat center;
}  

#finaldiv {
display: none;
justify-content: center;
align-items: center;
width: 100%;
flex-direction: column;
}

#finaldiv p {
  max-width: 1000px;
}

#finaldiv > img{
  width: 1000px;
  height: 600px;
  object-fit: cover;

}

#result {
  color: black;
}


h2 {
  font-size: 30px;
  color: white;
  -webkit-animation: 1.5s highlight 0s 1 normal forwards;
  animation: 1.5s highlight 0s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, hsl(var(--hsl)) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}
