body {
  text-align: center;
  margin: 0;
  font-family: 'Arima', cursive;
}

button {
  background-color: black;
  color: white;
  border-radius: 35px;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  font-family: 'Arima', cursive;
  font-size: 30px;
  border: aquamarine 0.2em inset;
}


button > img {
width: 50%;
height: 30%;
object-fit: cover;
}

h2 {
font-size: 22px;
}


#presentation {
  background: url("images/tiger.jpg") no-repeat center; 
  background-size: 100% cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#presentation h1{
  color: white;
}


#launch {
  width: 450px;
  padding: 15px;
  border-radius: 35px;
  background-color: white;
  color: black;
  font-size: 32px;
  font-weight: 500;
}



#Q1 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/alone.jpg")no-repeat center;
}


#Q2 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/elegance.jpg")no-repeat center;
}


#Q3 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/colere.jpg")no-repeat center;
}


#Q4 {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
background: url("images/helping.jpg")no-repeat center;
}  

#finaldiv {
display: none;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
}


#finaldiv {
  padding: 0% 0%;
}

#finaldiv p {
  max-width: 90%;
}

#finaldiv > img{
  width: 1000px;
  height: 600px;
  object-fit: cover;

}

#result {
  color: black;
}


h2 {
  font-size: 30px;
  color: white;
  -webkit-animation: 1.5s highlight 0s 1 normal forwards;
  animation: 1.5s highlight 0s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #007175 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}
